.label {
  font-size: 1.6rem;
  font-weight: 700;
  color: #232134;
  line-height: 15.36px;
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
}

.input {
  height: 42px;
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  border: 1px solid #d5d6dc;
  padding: 12px;
  border-radius: 8px;
}

.input:not(:disabled):hover {
  border: 1px solid #5e96fc;
}

.input:focus {
  caret-color: #5e96fc;
}

.rightSection {
  right: 12px;
  padding: 8px 0;
}

.control {
  border: none;
}



.filters__input svg path {
  fill: #acadb9;
}

.filters__button:not(:disabled):hover {
  background-color: #92c1ff;
}
